node_modules/
dist/
vendor/
components
test-specs.*
*/npm-debug.log
*.DS_Store
*.pyc
*~
*/*.pyc
*/*/*.pyc
.virt
.coverage
*nosetests.xml
*coverage.xml
*coverage-html
build
*.tar.gz
*.log
*/dist/
/.settings/
/.project
*.rdb
