
////////////////////
// Normalize.less //
////////////////////

@import "~normalize-less/normalize.less";


//////////////
// Skeleton //
//////////////
html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 100%;
}

body {

  // background-color: #1e1635;
  // background: -webkit-linear-gradient(bottom right,#4cddff,#3b9aca 10%,#2d6ca5 20%,#2a5291 27%,#283d81 35%,#222654 50%,#1e1635 63%,#0c0010 93%,#000);
  // background: -moz-linear-gradient(bottom right,#4cddff,#3b9aca 10%,#2d6ca5 20%,#2a5291 27%,#283d81 35%,#222654 50%,#1e1635 63%,#0c0010 93%,#000);
  // background: -ms-linear-gradient(bottom right,#4cddff,#3b9aca 10%,#2d6ca5 20%,#2a5291 27%,#283d81 35%,#222654 50%,#1e1635 63%,#0c0010 93%,#000);
  // background: linear-gradient(to top left,#4cddff,#3b9aca 10%,#2d6ca5 20%,#2a5291 27%,#283d81 35%,#222654 50%,#1e1635 63%,#0c0010 93%,#000);
  // -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
  // box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);

  // /* Rectangle 1: */
  background: #C4BBBB;
  background-image: linear-gradient(44deg, rgba(39,36,125,0.63) 0%, #07083B 100%);
  border: 1px solid #979797;

}

////////////////////////////////////////////
// Application general styles (overrides) //
////////////////////////////////////////////

// @import "~src/app/app.less";
// @import "~src/app/home/home.less";
